<div class="container-fluid ps-md-0 custom" class="p-3">
    <div class="text-center pt-2">
        <h2 class="fs-5 text-decoration-underline">All User</h2>
    </div>
   
    <div class="container-fluid tableFixHead">
        <table class="table table-striped align-middle">
            <thead>
                <tr class="fs-6">
                    <th scope="col" (click)="sort('id')">Employee ID&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col" (click)="sort('Username')">Username&nbsp;<i class="fa fa-sort"></i></th>
                    <th scope="col">Firtname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Location</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Department</th>
                    <th scope="col">Role</th>
                    
                  
                </tr>
            </thead>
            <tbody >
                <tr class="fs-6" *ngFor="let user of  users | orderBy: key: reverse | paginate: {itemsPerPage: 4, currentPage: page};">
                 
                    <td>{{user.employeeId}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.location}}</td>
                    <td>{{user.jobtitle}}</td>
                    <td>{{user.department}}</td>
                    <td>{{user.role}}</td>
                   
                   
                </tr>
            </tbody>
        </table>
       <div class="text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
       </div>

       
    </div>

</div>