<h1 class="display2" style="text-align: center; background-color: aquamarine; border: blanchedalmond; border-style: groove;">Registered Users</h1>

<ol style="padding-left: 100px; padding-top: 50px; padding-right: 100px;" class="list-group list-group-numbered">
    <li *ngFor="let u of users, index as i"    class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{u.firstname}}</div>
        {{u.email}}
      </div>
      <button type="button" (click)="deleteRow(u,i)" class="btn btn-danger">Delete</button>
    </li>
    <button type="button" (click)="sort()" style="margin-left: 900px; margin-top: 25px;" class="btn btn-outline-warning">Sort</button>
    
  </ol>