<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid p-2">
    <div class="blink">
    <h1 class="fs-5" *ngIf="role === ''"
      style="color: blue; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      Welcome to Digital books</h1>
     </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item fs-6">
         <button class="nav-link active btn btn btn-primary text-light me-3" aria-current="page" 
          *ngIf="role === 'AUTHOR'" aria-current="page" routerLink="add-book">AddBook</button>
        </li>
        <li class="nav-item fs-6">
          <button class="nav-link active btn btn btn-primary text-light me-3" aria-current="page"
          *ngIf="role === 'AUTHOR'" routerLink="view-book">View Book</button>
        </li>
        <li class="nav-item fs-6">
          <button class="nav-link active btn btn btn-primary text-light me-3" aria-current="page" *ngIf="role === 'READER' " routerLink="subscribed-book" >Book Subscribed</button>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
         
          <li class="nav-item fs-6">
           
              <button class="nav-link active btn btn btn-secondary text-light me-3" aria-current="page"
              *ngIf="role === 'READER' || role === 'AUTHOR'" routerLink="" (click)="signOut()">Sign Out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>