<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu> -->

<nav class="navbar navbar-expand-lg bg-light" style="border-color:blueviolet;border-style: double;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">User Registration application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li style="color:aqua;" class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=""  style="color:rgb(40, 40, 243);">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" style="color:rgb(40, 40, 243);">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reg" style="color:rgb(40, 40, 243);">Registered Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" style="color:rgb(40, 40, 243);">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" style="color:rgb(40, 40, 243);">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pipe" style="color:rgb(40, 40, 243);">Pipe-Demo</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>