<blockquote class="blockquote" style="text-align: center;  border: black; border-style: groove;">
    <p class="text-center" style="color:black; ">Contact us  </p>
    <div class="container px-4 text-center" style="color:blue;">
        <div class="row gx-5">
          <div class="col" >
           <div class="p-3 border bg-light">Phone:9696969696</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Email:angular@gmail.com</div>
          </div>
        </div>
      </div>
  </blockquote>