<div class="container-fluid ps-md-0 custom" class="p-3">
    <div class="text-center pt-2">
        <h2 class="fs-5 text-decoration-underline">All Compensation Plan User</h2>
    </div>
    <div class="text-end p-2">
        <button type="button" (click)="getAllCompensation()" class="btn btn-outline-info">Refresh</button>
    </div>
    <div class="container-fluid tableFixHead">
        <table class="table table-striped align-middle">
            <thead>
                <tr class="fs-6">
                    <th scope="col">Plan ID</th>
                    <th scope="col">PartnerName</th>
                    <th scope="col">CompensationPlan</th>
                    <th scope="col">Valid From</th>
                    <th scope="col">Valid To</th>
                    <th scope="col">Calculation Method</th>
                    <th scope="col">Option</th>
                    
              
                </tr>
            </thead>
            <tbody >
                <tr class="fs-6" *ngFor="let comp of compensation | paginate: {itemsPerPage: 4, currentPage: page},index as i">
                 
                    <td>{{comp.planid}}</td>
                    <td>{{comp.partnername}}</td>
                    <td>{{comp.compensationplan}}</td>
                    <td>{{comp.validfrom}}</td>
                    <td>{{comp.validto}}</td>
                    <td>{{comp.calculation}}</td>
                    <td >
                     <button type="button" (click)="deleteplan(comp,i)" class="btn btn-outline-danger">Delete</button>
                    </td>
                   
                   
                </tr>
            </tbody>
        </table>
       <div class="text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
       </div>

       
    </div>

</div>