<div class="container center p-5">
    <h2 class="text-center fs-3">Add Compensation Plan</h2>
    <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
        <div>
            <h4 class="fs-5">Compensation Details</h4>
            <div class="row">
                <div class="column">
                         <label for="username" class="fs-6">Partner Name</label>
                        <input [(ngModel)]="compensation.partnername" type="text" class="form-control" placeholder="Enter username"
                          formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                          id="username" pattern="[A-Za-z ]{3,32}">
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                          <div *ngIf="f.username.errors.required">Username is required</div>
                          <div *ngIf="f.username.errors.pattern">Username must be a valid username</div>
                        </div>
                       
                      

                </div>
                <div class="column">
                    <label for="floatingInput" class="fs-6">Compensation Plan</label>
                    <input [(ngModel)]="compensation.compensationplan" type="text" class="form-control" id="floatingInput"
                    placeholder="Enter firstname" formControlName="firstname" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" id="firstname"
                    pattern="[A-Za-z ]{3,32}">
                  <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                    <div *ngIf="f.firstname.errors.required">Firstname is required</div>
                    <div *ngIf="f.firstname.errors.pattern">Firstname must be a valid firstname</div>
                  </div>
                  
                </div>
                <div class="column">
                    <label for="floatingInput" class="fs-6">Valid To</label>
                    <input [(ngModel)]="compensation.validto" type="text" class="form-control" id="floatingInput"
                    placeholder="Enter lastname" formControlName="lastname" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" id="lastname"
                    pattern="[A-Za-z ]{3,32}">
                  <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                    <div *ngIf="f.lastname.errors.required">Lastname is required</div>
                    <div *ngIf="f.lastname.errors.pattern">Lastname must be a valid Lastname</div>
                  </div>
                  
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="floatingInput" class="fs-6">Vaild From</label>
                    <input [(ngModel)]="compensation.validfrom" type="text" class="form-control" id="floatingInput"
                    placeholder="Enter location" formControlName="location" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.location.errors }" id="location"
                    pattern="[A-Za-z ]{3,32}">
                  <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                    <div *ngIf="f.location.errors.required">location is required</div>
                    <div *ngIf="f.location.errors.pattern">location must be a valid </div>
                  </div>
                 
                </div>
                <div class="column">
                    <label for="floatingInput" class="fs-6">Calculation Method</label>
                    <select formControlName="isActive" [(ngModel)]="compensation.calculation" type="text"
                      class="form-control form-select" id="floatingInput" placeholder="Enter role" formControlName="role"
                      class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }" id="role">
                      <option ngValue="REPORT_USER">Report-User</option>
                      <option ngValue="COMPENSATION_USER">Compensation-User</option>
                    </select>
                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                      <div *ngIf="f.role.errors.required">Role is required</div>
                      <div *ngIf="f.role.errors.role">Role must be a valid role</div>
                    </div>
                  </div>
               

               
            </div>
           
           

              
              
            
  
           
        </div>
        <div>
           
          
                <div class="pb-3" >
                    <button type="submit">Submit</button>
                </div> 
          
        </div>
       
    </form>
</div>