<div class="container center p-5">
    <h2 class="text-center fs-3">Add Compensation Plan</h2>
    <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
        <div>
            <h4 class="fs-5">Compensation Details</h4>
            <div class="row">
                <div class="column">
                         <label for="partnername" class="fs-6">Partner Name</label>
                        <input [(ngModel)]="compensation.partnername" type="text" class="form-control" placeholder="Enter partnername"
                          formControlName="partnername" [ngClass]="{ 'is-invalid': submitted && f.partnername.errors }"
                          id="partnername" pattern="[A-Za-z ]{3,32}">
                        <div *ngIf="submitted && f.partnername.errors" class="invalid-feedback">
                          <div *ngIf="f.partnername.errors.required">partnername is required</div>
                          <div *ngIf="f.partnername.errors.pattern">partnername must be a valid partnername</div>
                        </div>
                </div>

                <div class="column">
                    <label for="floatingInput" class="fs-6">Compensation Plan</label>
                    <select formControlName="compensationplan" [(ngModel)]="compensation.compensationplan" type="text"
                    class="form-control form-select" id="floatingInput" placeholder="Enter compensationplan" formControlName="compensationplan"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.compensationplan.errors }" id="compensationplan">
                    <option ngValue="Straight Salary Compensation">Straight Salary Compensation</option>
                    <option ngValue="Pure Commission">Pure Commission</option>
                    <option ngValue="Salary Plus Commission">Salary Plus Commission</option>
                    <option ngValue="Territory Volume Compensation Plan">Territory Volume Compensation Plan</option>
                  </select>
                  <div *ngIf="submitted && f.compensationplan.errors" class="invalid-feedback">
                    <div *ngIf="f.compensationplan.errors.required">compensationplan is required</div>
                    <div *ngIf="f.compensationplan.errors.role">compensationplan must be a valid role</div>
                  </div>
              </div>
              <div class="row">
                <div class="column">
                  <label for="floatingInput" class="fs-6">Calculation Method</label>
                  <select formControlName="calculation" [(ngModel)]="compensation.calculation" type="text"
                    class="form-control form-select" id="floatingInput" placeholder="Enter calculation" formControlName="calculation"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.calculation.errors }" id="calculation">
                    <option default ngValue="Volume">Volume</option>
                    <option ngValue="Revenue">Revenue</option>
                  </select>
                  
                  <div *ngIf="submitted && f.calculation.errors" class="invalid-feedback">
                    <div *ngIf="f.calculation.errors.required">calculation is required</div>
                    <div *ngIf="f.calculation.errors.role">calculation must be a valid role</div>
                  </div>
                </div>
                <div class="column">
                  <div *ngIf="compensation.calculation === 'Volume'">
                  <label for="floatingInput" class="fs-6">Transaction Limit</label>
                <select formControlName="tranpercentage" [(ngModel)]="compensation.tranpercentage" type="number"
                    class="form-control form-select" id="floatingInput" placeholder="Enter transaction" formControlName="tranpercentage">
                    <option default ngValue="10">10</option>
                    <option ngValue="20">20</option>
                    <option ngValue="30">30</option>
                    <option ngValue="40">40</option>
                    <option ngValue="50">50</option>
                    
                  </select>
                </div>
                <div *ngIf="compensation.calculation === 'Revenue'">
                  <label for="floatingInput" class="fs-6">Transaction Limit</label>
                <select formControlName="tranpercentage" [(ngModel)]="compensation.tranpercentage" type="number"
                    class="form-control form-select" id="floatingInput" placeholder="Enter transaction" formControlName="tranpercentage">
                    <option ngValue="1.5">0.1</option>
                    <option ngValue="2.5">0.2</option>
                    <option ngValue="3.5">0.3</option>
                    <option ngValue="4.5">0.4</option>
                    <option ngValue="5.5">0.5</option>
                  </select>
                </div>
                </div>
                <div class="column">
                  <div *ngIf="compensation.tranpercentage > 0">
                  <label class="fs-6">Percentage</label>
                  <br>
                  <textarea>{{compensation.tranpercentage}}</textarea>
                </div>
              </div>
                </div>


            </div>
            <div class="row">
              <div class="column">
                <label for="validfrom">Valid From</label>
                <br />
                <input type="date" [(ngModel)]="compensation.validfrom" id="validfrom" class="form-control"
                    name="validfrom" placeholder="Enter validfrom" formControlName="validfrom"
                    title="validfrom should contains date only">
                <div *ngIf="submitted && f.validfrom.errors" class="invalid-feedback">
                    <div *ngIf="f.validfrom.errors.required">validfrom is required</div>
                </div>
            </div>

            
            <div class="column">
              <label for="validto">Valid To</label>
              <br />
              <input type="date" [(ngModel)]="compensation.validto" id="validto" class="form-control"
                  name="validto" placeholder="Enter validto" formControlName="validto"
                  title="validto should contains date only">
              <div *ngIf="submitted && f.validto.errors" class="invalid-feedback">
                  <div *ngIf="f.validto.errors.required">validto is required</div>
              </div>
          </div>

            </div>

        </div>
        <div>

                <div class="pb-3" >
                    <button type="submit">Submit</button>
                </div> 
          
        </div>
       
    </form>
</div>