<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid" style="background-color: rgb(28, 31, 31);">
        <a class="navbar-brand fs-4" href="#">
            <img src="../assets/e-book-logo1.png" alt="Logo" width="60" height="48" class="d-inline-block">
           <font class="fs-5 fst-italic fw-bolder" style="color: #0F52BA;"> Digital Books</font>
        </a>
        <div class="d-flex">
            <a class="navbar-brand fs-6" routerLink="">Home</a>
            <a class="navbar-brand fs-6" routerLink="search-books">Search Books</a>
            <a class="navbar-brand fs-6" routerLink="login">login</a>
            <a class="navbar-brand fs-6" routerLink="signup">Signup</a>
        </div>
    </div>
</nav>