<div class="container-fluid ps-md-0 custom" class="p-3">
    <div class="text-center pt-2">
        <h2 class="fs-5 text-decoration-underline">All User</h2>
    </div>
    <div class="text-end p-2">
        <!-- <button type="button" (click)="sortUser()" class="btn btn-outline-warning mx-2">SortByName</button> -->
        <button type="button" (click)="getAllUser()" class="btn btn-outline-info">Refresh</button>
    </div>
    <div class="container-fluid tableFixHead">
        <table class="table table-striped align-middle">
            <thead>
                <tr class="fs-6">
                    <th scope="col">Employee ID</th>
                    <!-- <th (click)="sort('id')" scope="col">Username id&nbsp; <i class="fa fa-sort"></i></th> -->
                    <th scope="col">Username</th>
                    <th scope="col">Firtname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Location</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Department</th>
                    <th scope="col">Role</th>
                    
                  
                </tr>
            </thead>
            <tbody *ngFor="let b of users , index as i">
                <tr class="fs-6">
                    <th scope="row">{{i+1}}</th>
                    <td>{{b.username}}</td>
                    <td>{{b.firstName}}</td>
                    <td>{{b.lastName}}</td>
                    <td>{{b.location}}</td>
                    <td>{{b.jobtitle}}</td>
                    <td>{{b.department}}</td>
                    <td>{{b.role}}</td>
                   
                   
                </tr>
            </tbody>
        </table>
        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
    </div>

</div>